# GEMINI_API_KEY: Required for Gemini AI API calls.
GEMINI_API_KEY=""

# Firebase Configuration
VITE_FIREBASE_API_KEY="AIzaSyAibnwsu2IkHN7WxFwrE6V_nTCaU80fxy8"
VITE_FIREBASE_AUTH_DOMAIN="gen-lang-client-0345098450.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="gen-lang-client-0345098450"
VITE_FIREBASE_STORAGE_BUCKET="gen-lang-client-0345098450.firebasestorage.app"
VITE_FIREBASE_MESSAGING_SENDER_ID="536979238946"
VITE_FIREBASE_APP_ID="1:536979238946:web:ffd99af669147586d6da7b"
VITE_FIREBASE_DATABASE_ID="ai-studio-658948c9-ceaa-43ae-9549-dd0f9b1daa0e"
